@model IEnumerable<Lab1ICTP.Career>

@{
    ViewData["Title"] = "Index";
}

<h1>Кар'єри гравця @ViewBag.PlayerName</h1>
@if(User.IsInRole("admin"))
{ 
<p>
    @Html.ActionLink("Додати нову кар'єру","Create", new {PlayerId = @ViewBag.PlayerId })
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.ActionLink("Деталі", "Details", new { id = item.CareerId, PlayerId = @ViewBag.PlayerId })
                @if (User.IsInRole("admin"))
                {
                    <label>|</label>
                    @Html.ActionLink("Видалити", "Delete", new { id = item.CareerId, PlayerId = @ViewBag.PlayerId })
                    <label>|</label>
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.CareerId, PlayerId = @ViewBag.PlayerId })
                }
            </td>
        </tr>
}
    </tbody>
</table>
