@model IEnumerable<Lab1ICTP.Player> 
@{
    ViewData["Title"] = "Index";
}

<h1>Гравці</h1>
@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="Create">Додати гравця</a>
</p>
<div>
<h3>Оберіть exel-файл для заватаження</h3>
@using (Html.BeginForm("Import", "Players", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
{
    <div>
        Завантажте Excel-файл:
        <input type="file" name="fileExcel" id="fileExcel" />
        <div>
            <input type="submit" value="Завантажити" />
        </div>
    </div>
}
</div>
}
<div>
    <h3>Завантаження інформації в файл</h3>
    <h4>Критерії відбору</h4>
    <form asp-action="Export" method="post">
        Гравець:
        <select name="playerid" class="form-control-5" asp-items="ViewBag.players"> <option value="ViewBag.NULL">-</option></select>
        Команда:
        <select name="teamid" class="form-control-5" asp-items="ViewBag.teams"><option value="ViewBag.NULL">-</option></select>
        Позиція:
        <select name="posid" class="form-control-5" asp-items="ViewBag.positions"><option value="ViewBag.NULL">-</option></select>
        <input type="submit" value="завантажити" class="btn btn-primary" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PlayerId">Кар'єра</a>
                    @if (User.IsInRole("admin"))
                    {
                        <label>|</label>
                        <a asp-action="Edit" asp-route-id="@item.PlayerId">Редагувати</a>
                        <label>|</label>
                        <a asp-action="Delete" asp-route-id="@item.PlayerId">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
