@model IEnumerable<Lab1ICTP.Game>

@{
    ViewData["Title"] = "GamesByTeam";
}

<h1>Матчі команди @ViewBag.teamName</h1>

<p>
    <a asp-action="Create">Створити матч</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamId2Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadium.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamId2Navigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GameId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.GameId">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.GameId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Повернутися до списку команд", "Index", "Teams")
</div>
