@model IEnumerable<Lab1ICTP.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Міста</h1>
@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="Create">Додати місто</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Команди міста", "TeamsByCity", "Teams", new { cityId = item.CityId, name = item.Name }) |
                    <a asp-action="Details" asp-route-id="@item.CityId">Стадіони міста</a>
                    @if (User.IsInRole("admin"))
                    {
                        <label>|</label>
                        <a asp-action="Edit" asp-route-id="@item.CityId">Редагувати</a>
                        <label>|</label>
                        <a asp-action="Delete" asp-route-id="@item.CityId">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
